ojford.com {
    tls {
        dns cloudflare
    }

    gzip

    proxy / https://ojford.keybase.pub/envelope/ {
        except .well-known/* assets/*
    }
}

ojford.com/assets {
    tls {
        dns cloudflare
    }

    gzip
    root static
}

ojford.com/.well-known {
    tls {
        dns cloudflare
    }

    gzip
    root static/.well-known
}

searx.ojford.com {
    git {
        repo git@github.com:OJFord/searx
        path $PROJECT_ROOT_SEARX
        hook /gh_webhook $GITHUB_WEBHOOK_KEY
        then systemctl reload caddy
    }

    import $PROJECT_ROOT_SEARX/Caddy*
}
