ojford.com {
    tls {
        dns cloudflare
    }

    gzip

    proxy / https://ojford.keybase.pub/envelope/ {
        except .well-known/* assets/*
    }
}

ojford.com/assets {
    tls {
        dns cloudflare
    }

    gzip
    root static
}

ojford.com/.well-known {
    tls {
        dns cloudflare
    }

    gzip
    root static/.well-known
}
